{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Inicio de Sesión | UCOT</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
<link rel="shortcut icon" href="{% static 'images/ucot.png' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container mt-2">
	<div class="row justify-content-center align-items-center text-center p-2">
		<div class="m-1 col-sm-8 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white border rounded">
			<div class="pt-5 pb-5">
				<img class="rounded mx-auto d-block" src="{% static 'images/ucot.png' %}" alt="" width=70px height=70px>
				<p class="text-center text-uppercase mt-3">Login</p>
				<form class="form text-center"  method="POST">
          			{% csrf_token %}
					<div class="form-group input-group-md">
           		     {% if user.groups.all.0.name == "Juez" %}
					<META HTTP-EQUIV="REFRESH" CONTENT="0; http://localhost:8000/homejuez/">
					{% elif user.groups.all.0.name == "Agenteadmin" %}</header><META>
					<META HTTP-EQUIV="REFRESH" CONTENT="0; http://localhost:8000/home/">
				    {% elif user.groups.all.0.name == "Administrador" %}</header><META>
					<META HTTP-EQUIV="REFRESH" CONTENT="0; http://localhost:8000/homeadmin/">
					{% else %}
					<META HTTP-EQUIV="REFRESH" CONTENT="0; http://localhost:8000/admin">
				    {% endif %}
				  </form>

				</form>
			</div>

		</div>

	</div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js'></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
