{% extends 'index.html' %}
{% block titulo%}
Conductor
{% endblock titulo%}
{% block body %}
<div class="card">
  <div class="card-header text-center">
    <strong>Consulta de conductor </strong><i>(Buscar por cédula del conductor)</i>
  </div>
  <div class="card-body card-block text-center">
    <form action="#" method="post" enctype="multipart/
    form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group text-center">
        <input type="number" name="Cedula" placeholder="Numero de cedula"/ >
        <input type="submit" value="Buscar" class="btn btn-primary" style="background-color:#5e2129">
        
    </div>
  </form>
  <table class="table" frame="void" rules="none"  align="center" cellspacing="0" cellpadding="0" bordercolor="#ffffff" border="0" style="width: 1500px;">
    <thead class="thead-dark">
      <tr>
        <th>Cedula</th>
        <th>Nombres y Apellidos</th>
        <th>Tipo de licencia</th>
        <th>Categoria de la licencia</th>
        <th>Fecha de emisión de la licencia</th>
        <th>Fecha de caducidad de la licencia</th>
      

      </tr>
    </thead>
    <tbody>
      {% for v in conductor %}
      <tr>
        <td>{{ v.CedulaC }}</td>
        <td>{{ v.Nombres }} {{ v.Apellidos }}</td>
        <td>{{ v.TipoLicencia }}</td>
        <td>{{ v.CategoriaLicencia }}</td>
        <td>{{ v.FechaEmisionLicencia }}</td>
        <td>{{ v.FechaCaducidadLicencia }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  </div>
</div>

{% if user.groups.all.0.name == "Juez" %}
<META HTTP-EQUIV="REFRESH" CONTENT="0; http://18.228.40.250/homejuez/">
{% elif user.groups.all.0.name == "Agenteadmin" %}</header><META>

{% elif user.groups.all.0.name == "Administrador" %}</header><META>
<META HTTP-EQUIV="REFRESH" CONTENT="0; http://18.228.40.250/homeadmin/">
{% else %}
<META HTTP-EQUIV="REFRESH" CONTENT="0; http://18.228.40.250/admin">
{% endif %}
{% endblock body %}
